<%
	tags = @object.then([:respond_to?, :tags]){chain(:tags, :length, [:>, 0])}
	detail = @object.then([:respond_to?, :details]){chain(:details, :length, [:>, 0])} || @object.then([:respond_to?, :items]){chain(:items, :length, [:>, 0])}
	extras = tags || detail 
%>		<div class="entry">
			<span class="timestamp"><%= @object.timestamp.textualize -%>: </span>
			<span class="text"><%= @object.text %></span><% if extras then %><%= 
				"\n"+@partial.call(:tags) if tags %><%=
				"\n"+@partial.call(:detail) if detail %><% end %>
		</div>
