<!DOCTYPE html PUBLIC -//W3C//DTD XHTML 1.0 Strict//EN http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd>
<head>
	<title>RedBook Dataset</title>
</head>
<body>
	<h1>RedBook Dataset</h1>
	<div id="dataset">
		<%= @content %>
	</div>
</body>

